#analyse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

#charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

#upTimeChartDiv, #accessCounterChartDiv {
    position: relative;
    width: 25vw;
    height: 30vh;
}

.button.reload-button {
    background: #008AFF;
}