#analyse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#upTimeChartDiv, #accessCounterChartDiv {
    position: relative;
    width: 50vw;
    height: 40vh;
    margin-bottom: 20px;
}

.button.reload-button {
    background: #008AFF;
}