@media only screen and (max-width: 940px) {
    body {
        height: initial;
    }

    main {
        height: 100vh;
        margin: initial;
    }

    #info-view {
        width: 100vw;
        grid-template-areas: 'state-desc state-show' 'ap-runtime-desc ap-runtime-show' 'runtime-desc runtime-show' 'client-desc client-show';
        grid-template-columns: 0.4fr 0.6fr;
    }

    .desc {
        padding: 20px;
        border-radius: 0;
    }

    #info-view > *:first-of-type {
        border-radius: 0 10px 0 0;
    }

    #info-view > *:nth-last-of-type(2) {
        border-radius: 0 0 10px 0;
    }

    #controls {
        display: flex;
        flex-direction: column;
    }

    .button {
        padding: 10px 40px;
        font-size: large;
    }

    .change-button.noshut {
        margin-bottom: 10px;
    }

    #discovermore {
        display: initial;
    }

    #analyse {
        height: 100vh;
    }

    #charts {
        flex-direction: column;
    }

    #accessCounterChartDiv, #upTimeChartDiv {
        width: 95vw;
        height: 35vh;
        margin-bottom: 20px;
    }
}