#info-view {
    display: grid;
    width: 50vw;
    grid-template-areas: 'state-desc ap-runtime-desc runtime-desc client-desc' 'state-show ap-runtime-show runtime-show client-show';
}

#info-view>* {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-view>*:first-of-type {
    border-radius: 10px 0 0 10px;
}

#info-view>*:nth-last-of-type(2) {
    border-radius: 0 10px 10px 0;
}

.desc {
    background: #242424;
    color: aliceblue;
    font-weight: bolder;
}

.show {
    font-weight: bold;
}


.desc.state {
    grid-area: state-desc;
}

.show.state {
    grid-area: state-show;
}

.show.state.on {
    color: green;
}

.show.state.off {
    color: red;
}

.show.state.other {
    color: orange;
}

.desc.ap-runtime {
    grid-area: ap-runtime-desc;
}

.show.ap-runtime {
    grid-area: ap-runtime-show;
}


.desc.runtime {
    grid-area: runtime-desc;
}

.show.runtime {
    grid-area: runtime-show;
}

.desc.client{
    grid-area: client-desc;
}

.show.client {
    grid-area: client-show;
}