.waiting {
    width: 12px;
    height: 12px;
    background: rgba(0, 138, 255, 1);
    border-radius: 10000px;
    animation-name: wait;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes wait {
    0% {
        background-color: rgba(0, 138, 255, 1);
    }
    50% {
        transform: rotateY(180deg);
        background-color: rgba(13, 8, 130, 1);
    }
    100% {
        background-color: rgba(0, 138, 255, 1);
    }
}